@{
    ViewBag.Title = "About";
}

<div style="margin-top: 100px" class="row">
    <div class="col-lg-7">
        <div>
            <b style="margin-left:40px">
                Chúng tôi chuyên cung cấp tất cả các loại phụ kiện như bao da, ốp lưng, kính cường lực, ốp viền, loa vi tính chính hãng,… và nhiều loại phụ kiện độc khác của các dòng điện thoại phổ biến như Apple, Asus, LG, Samsung , HTC, BlackBerry, Sony.
            </b>
        </div>
        <div>
            <b>Vì sao các bạn nên mua phụ kiện tại Phụ kiện giá gốc?</b>
        </div>
        <div>1. Chất lượng đảm bảo</div>
        <div>
            Phụ kiện giá gốc luôn cung cấp bao da, ốp lưng và các loại phụ kiện khác với chất lượng đảm bảo. Phụ kiện đều được chúng tôi xem mẫu và kiểm tra trước khi đặt hàng. Các sản phẩm đều đúng như miêu tả trên website, sử dụng hình ảnh được chụp thực tế tại shop nên các bạn có thể yên tâm.
        </div>
        <div>2. Giá cả cạnh tranh</div>
        <div>
            Khi đến mua hàng tại shop Phụ kiện giá gốc các bạn luôn được ưu đãi với rất nhiều chính sách hấp dẫn. Do là shop chuyên mua bán các loại phụ kiện điện thoại nhưng kinh doanh theo hình thức online nên chúng tôi tiết kiệm được rất nhiều chi phí phát sinh, vì thế giá các loại phụ kiện như bao da, ốp lưng luôn rẻ hơn các cửa hàng điện thoại khác rất nhiều.
        </div>
    </div>
    <div class="col-lg-5">
        <img style="width:100%" src="..\img\aa.jpg" />
    </div>
</div>
