@{
    ViewBag.Title = "Trang chủ";
}
@section Scripts{
    <script src="/Scripts/app/home/index.js"></script>

    <script>
        var home = new homeController();
        home.initialize();
    </script>
}
@*<div class="form-group row">
                            <label for="txtFromdate" class="col-sm-2 col-form-label">Ngày bắt đầu<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" id="txtFromdate" name="txtFromdate" autocomplete="off" class="form-control datepicker" placeholder="Chọn ngày bắt đầu" />
                            </div>
                            <label for="txtTodate" class="col-sm-2 col-form-label">Ngày kết thúc<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" id="txtTodate" name="txtTodate" autocomplete="off" class="form-control datepicker" placeholder="Chọn ngày kết thúc" />
                            </div>                
</div>*@
<!--- Hình --->
<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="/img/nen1.png" style="margin-left:-450px; width:1374px; height:505px">
    </div>

    <div class="mySlides fade">
        <img src="/img/nen2.png" style="margin-left:-450px; width:1374px; height:505px">
    </div>

    <div class="mySlides fade">
        <img src="/img/nen3.png" style="margin-left:-450px; width:1374px; height:505px">
    </div>
</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(0)"></span>
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
</div>

<div style="margin-left:20px">

    <div class="single-product-type">
        <a href="/Sanpham/Index/1">
            <img style="width:530px; z-index: 2" src="/img/oplung.png">
        </a>
        <div class="ten" style="margin-left:30px; margin-top:30px">
            Ốp điện thoại
        </div>
    </div>
    <div style="margin-left:30px" class="single-product-type">
        <a href="/Sanpham/Index/2">
            <img style="width:530px; height: 399px;" src="/img/bao.png">
        </a>
        <div class="ten" style="margin-left:404px; margin-top:30px">
            Bao Airpod
        </div>
    </div>

</div>
<div style="margin-left:20px; clear:both; ">
    <div style="margin-top: 30px" class="single-product-type">
        <a href="/Sanpham/Index/3">
            <img style="width:530px;" src="/img/baomtb.png">
        </a>
        <div class="ten" style="margin-left:30px; margin-top:30px">
            Ring- bóp
        </div>
    </div>

    <div style="margin-left:30px;margin-top: 30px " class="single-product-type">
        <a href="/Sanpham/Index/4">
            <img style="width:530px;" src="/img/khac.png">
        </a>
        <div class="ten" style="margin-left:330px; margin-top:30px">
            Các loại phụ kiện khác
        </div>
    </div>

</div>



<div style=" width:90%; margin-left:5%; margin-top:500px">
    <div>
        <!---<div><img style="width:130px; margin-left:240px" src="img\rabbit.png" /></div>
        <div style="text-align:center; margin-top: -150px ;font-family:'HP-Murray Heavy'; font-weight:bold; font-size:100px">Best Seller</div>
        <div><img style="width:130px; margin-left: 850px; margin-top: -150px" src="img\rabbit1.png" /></div>--->
    </div>
    <div style="text-align:center;font-family:'HP-Murray Heavy'; font-weight:bold; font-size:100px">Best Seller</div>

    <div style="margin-left: -70px">
        <div style="float:left">
            <a href="/Sanpham/ctsp/44">
                <img style="width:180px" src="/img/44.png">
            </a>
        </div>
        <div style="float:left">
            <a href="/Sanpham/ctsp/46">
                <img style="width:180px; margin-left: 20px" src="/img/46.png">
            </a>
        </div>
        <div style="float:left">
            <a href="/Sanpham/ctsp/20">
                <img style="width:180px; margin-top:200px; margin-left:-380px" src="/img/20.png">
            </a>
        </div>
        <div style="float:left">
            <a href="/Sanpham/ctsp/9">
                <img style="width:180px; margin-top:200px; margin-left:-180px" src="/img/9.png">
            </a>
        </div>
        <div style="float:left">
            <a href="/Sanpham/ctsp/14">
                <img style="width:380px; margin-left: 20px" src="/img/14.png">
            </a>
        </div>
    </div>
    <div>
        <div style="float:left">
            <a href="/Sanpham/ctsp/117">
                <img style="width:180px; margin-left: 20px" src="/img/Khac/k7.png">
            </a>
        </div>
        <div style="float:left">
            <a href="/Sanpham/ctsp/120">
                <img style="width:180px; margin-top: -605px; margin-left:930px" src="/img/Khac/k10.png">
            </a>
        </div>
        <div style="float:left">
            <a href="/Sanpham/ctsp/71">
                <img style="width:180px; margin-top:-245px; margin-left:730px" src="/img/Bao/a1.png">
            </a>
        </div>
        <div style="float:left">
            <a href="/Sanpham/ctsp/77">
                <img style="width:180px; margin-top:-285px; margin-left: 930px" src="/img/Bao/a7.png">
            </a>
        </div>
    </div>
</div>

<hr />

<div id="new-Product"></div>
<script id="table-template" type="x-tmpl-mustache">
    <div class="col-lg-3">
        <img style="width:100%; height:262px" src="{{img}}">
        <div class="font">{{ProductName}}</div>
            <div class="font">Giá:{{Price}}</div>
            <div class="font">Nhà cung cấp:{{MerName}}</div>
        <div>Rating</div>
        <div>
            <button class="yeuthich btn-danger" data-id="{{ProductID}}">Thêm vào yêu thích</button>
            <button class="yeuthich btn-danger" data-id="{{ProductID}}">Mua ngay</button>
        </div>
    </div>
</script>