@{
    ViewBag.Title = "Trang chủ";
}
@section Scripts{
    <script src="~/Scripts/app/home/index.js"></script>

    <script>
        var home = new homeController();
        home.initialize();</script>
}
<link href="~/Content/style.css" rel="stylesheet" />
<!--- Hình --->
<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="..\img\nen1.png" style="margin-left:-450px; width:1374px; height:505px">
    </div>

    <div class="mySlides fade">
        <img src="..\img\nen2.png" style="margin-left:-450px; width:1374px; height:505px">
    </div>

    <div class="mySlides fade">
        <img src="..\img\nen3.png" style="margin-left:-450px; width:1374px; height:505px">
    </div>
</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(0)"></span>
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
</div>

<div style="margin-left:-10px">
    <a href="http://localhost:51415/Sanpham/Theosanpham">
        <div>
            <img style="width:570px; z-index: 2" src="..\img\oplung.png">
            <div class="ten">
                Ốp điện thoại
            </div>
        </div>
    </a>
    <a href="#">
        <div style="margin-left: 590px; margin-top:-48px">
            <img style="width:570px; height:427px" src="..\img\bao.png">
            <div class="ten" style="margin-left:434px">
                Bao Airpod
            </div>
        </div>
    </a>
</div>
<div style="margin-left:-10px">
    <a href="#">
        <div>
            <img style="width:570px; margin-top: 400px" src="..\img\baomtb.png">
            <div class="ten">
                Bao da máy tính bảng
            </div>
        </div>
    </a>
    <a href="#">
        <div>
            <img style="width:570px;margin-left: 590px;margin-top:-46px" src="..\img\khac.png">
            <div class="ten" style="margin-left:960px;">
                Các loại phụ kiện khác
            </div>
        </div>
    </a>
</div>



<div style=" width:90%; margin-left:5%; margin-top:500px">
    <div>
        <!---<div><img style="width:130px; margin-left:240px" src="img\rabbit.png" /></div>
        <div style="text-align:center; margin-top: -150px ;font-family:'HP-Murray Heavy'; font-weight:bold; font-size:100px">Best Seller</div>
        <div><img style="width:130px; margin-left: 850px; margin-top: -150px" src="img\rabbit1.png" /></div>--->
    </div>
    <div style="text-align:center;font-family:'HP-Murray Heavy'; font-weight:bold; font-size:100px">Best Seller</div>

    <div style="margin-left: -70px">
        <div style="float:left">
            <a href="#">
                <img style="width:180px" src="..\img\44.png">
            </a>
        </div>
        <div style="float:left">
            <a href="#">
                <img style="width:180px; margin-left: 20px" src="..\img\46.png">
            </a>
        </div>
        <div style="float:left">
            <a href="#">
                <img style="width:180px; margin-top:200px; margin-left:-380px" src="..\img\20.png">
            </a>
        </div>
        <div style="float:left">
            <a href="#">
                <img style="width:180px; margin-top:200px; margin-left:-180px" src="..\img\9.png">
            </a>
        </div>
        <div style="float:left">
            <a href="#">
                <img style="width:380px; margin-left: 20px" src="..\img\14.png">
            </a>
        </div>
    </div>
    <div>
        <div style="float:left">
            <a href="#">
                <img style="width:180px; margin-left: 20px" src="..\img\44.png">
            </a>
        </div>
        <div style="float:left">
            <a href="#">
                <img style="width:180px; margin-top: -605px; margin-left:930px" src="..\img\46.png">
            </a>
        </div>
        <div style="float:left">
            <a href="#">
                <img style="width:180px; margin-top:-245px; margin-left:730px" src="..\img\20.png">
            </a>
        </div>
        <div style="float:left">
            <a href="#">
                <img style="width:180px; margin-top:-285px; margin-left: 930px" src="..\img\9.png">
            </a>
        </div>
    </div>
</div>