@{
    ViewBag.Title = "Trang chủ";
}
@section Scripts{
    <script src="~/Scripts/app/home/index.js"></script>

    <script>
        var home = new homeController();
        home.initialize();</script>
}
<link href="~/Content/style.css" rel="stylesheet" />
<!--- Hình --->
<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="..\img\nen1.png" style="margin-left:-450px; width:1374px; height:505px">
    </div>

    <div class="mySlides fade">
        <img src="..\img\nen2.png" style="margin-left:-450px; width:1374px; height:505px">
    </div>

    <div class="mySlides fade">
        <img src="..\img\nen3.png" style="margin-left:-450px; width:1374px; height:505px">
    </div>
</div>
<br>
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(0)"></span>
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
</div>

<div style="width: 45%; margin-left:80px; margin-top:40px">
    <div style="font-weight:400"><h1>World's Slimmest,  Most Protective Phone Case</h1></div>
    <div style="margin-left:72px; margin-bottom:10px">___________________________</div>
    <div style="font-weight:400; font-size:20px;margin-top:30px">
        With a 2-layer construction of qitech™ material, our impact cases are 6.6 ft. drop test approved, no joke.
    </div>
    <div>
        <button id="khampha"><a href="../Sanpham/Theosanpham">Khám phá</a></button>
    </div>
    <div><a href="../Nguoiban/Index">Sang trang người bán</a></div>
</div>
<div style="margin-left: 55%; margin-top: -380px">
    <img width="55%" src="..\img\0.png">
</div>
<div style="margin-left:84%; margin-top: -370px">
    <img width="180px" src="..\img\00.png">
</div>
<div>
    <img />
</div>

<div style="margin-left:-10px; margin-top:160px">
    <div class="loaisp" style=" width:50%; position:relative">
        <a href="../Sanpham/Theosanpham">
            <img style="width:570px; /*z-index: 2*/" src="..\img\oplung.png">
        </a>
        <div class="ten">
            Ốp điện thoại
        </div>
    </div>
    <div class="loaisp" style=" width:50%; position:relative; margin-left: 600px; margin-top: -428px">
        <a href="../Sanpham/Theosanpham">
            <img style="width:570px; /*z-index: 2*/" src="..\img\bao.png">
        </a>
        <div class="ten">
            Bao Airpod
        </div>
    </div>
</div>
<div style="margin-left:-10px; margin-top:30px">
    <div class="loaisp" style=" width:50%; position:relative">
        <a href="../Sanpham/Theosanpham">
            <img style="width:570px; /*z-index: 2*/" src="..\img\baomtb.png">
        </a>
        <div class="ten">
            Bao da máy tính bảng
        </div>
    </div>
    <div class="loaisp" style=" width:50%; position:relative; margin-left: 600px; margin-top: -428px">
        <a href="../Sanpham/Theosanpham">
            <img style="width:570px; /*z-index: 2*/" src="..\img\khac.png">
        </a>
        <div class="ten">
            Các sản phẩm khác
        </div>
    </div>
</div>



<div style=" width:90%; margin-left:5%; margin-top:100px">
    <div>
        <!---<div><img style="width:130px; margin-left:240px" src="img\rabbit.png" /></div>
        <div style="text-align:center; margin-top: -150px ;font-family:'HP-Murray Heavy'; font-weight:bold; font-size:100px">Best Seller</div>
        <div><img style="width:130px; margin-left: 850px; margin-top: -150px" src="img\rabbit1.png" /></div>--->
    </div>
    <div style="text-align:center;font-family:'HP-Murray Heavy'; font-weight:bold; font-size:100px">Best Seller</div>

    <div style="margin-left: -70px">
        <div style="float:left">
            <a href="#">
                <img style="width:180px" src="..\img\44.png">
            </a>
        </div>
        <div style="float:left">
            <a href="#">
                <img style="width:180px; margin-left: 20px" src="..\img\46.png">
            </a>
        </div>
        <div style="float:left">
            <a href="#">
                <img style="width:180px; margin-top:200px; margin-left:-380px" src="..\img\20.png">
            </a>
        </div>
        <div style="float:left">
            <a href="#">
                <img style="width:180px; margin-top:200px; margin-left:-180px" src="..\img\9.png">
            </a>
        </div>
        <div style="float:left">
            <a href="#">
                <img style="width:380px; margin-left: 20px" src="..\img\14.png">
            </a>
        </div>
    </div>
    <div>
        <div style="float:left">
            <a href="#">
                <img style="width:180px; margin-left: 20px" src="..\img\44.png">
            </a>
        </div>
        <div style="float:left">
            <a href="#">
                <img style="width:180px; margin-top: -605px; margin-left:930px" src="..\img\46.png">
            </a>
        </div>
        <div style="float:left">
            <a href="#">
                <img style="width:180px; margin-top:-245px; margin-left:730px" src="..\img\20.png">
            </a>
        </div>
        <div style="float:left">
            <a href="#">
                <img style="width:180px; margin-top:-285px; margin-left: 930px" src="..\img\9.png">
            </a>
        </div>
    </div>
</div>