.nav-contain {
	height: 91px;
	width: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	z-index: 1;
	margin-bottom: 0;
}
.search {
	outline: none;
	width: 230px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border: 2px solid black;
	/*cursor: pointer;*/
	height: 36px;
	padding-left: 10px;
}
input[type=text], input[type=password], input[type=email], input[type=number] {
    outline: none;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.nav-a-right {
	padding: 0 0 0 15px;
}
.nav-img-right {
	height: 30px;
}
/* Set a style for all buttons */
button {
	outline: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    width:100px;
}

    button:hover {
        opacity: 0.8;
    }

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
	width: 30px;
	border-radius: 15px;
}

.container {
    padding: 16px;
}

.flex-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.flex-container .flex-cell {
	max-width: 25%;
	border-radius: 10px;
	flex: 1;
}

.flex-cell {
	display: table;
}

.flex-cell:hover {
	border-color: rgba(126, 239, 104, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
	outline: 0 none;
	cursor: pointer;
}

.flex-cell div {
	display: table-row;
}

span.psw {
	margin-left: 225px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:black ;
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.ten {
    position: absolute;
    top: 0;
    color:black;
    font-weight:bold;
}
.single-product-type{
    position: relative;
    float: left;
}
.single-product-type:hover .ten{
    background-color:black;
    color: white;
}
.yeuthich {
    width: 180px;
    margin-left: 30px;
    height: 40px;
    font-weight:bold;
    color:black;
    line-height: 2px;
}
.font {
    font-weight:bold;
    margin-left: 10px;
}
.khung {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
}
.textmenu {
    font-size:17px;
    color: darkslategrey;
    font-weight: bold;
}
.btnthemsp {
    background-color: red;
    color: white;
    font-weight:bold;
    width: 300px;
}
.chinh {
    margin-left: 10px;
    margin-bottom: 20px;
}
    .chinh:hover {
        background-color: #98D0B9;
    }
.btnthemtk {
    background-color: red;
    color: white;
    font-weight: bold;
    width: 300px;
    margin-left: 17px;
}
#divmenu {
    display: none;
}

#imgmenu:hover + #divmenu {
    display: block;
}



div a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: inline-block;
}

ul {
    display: inline;
}

    ul li {
        display: inline-block;
    }

        ul li:hover {
        }

            ul li:hover ul {
                display: block;
                width: 250px;
            }

        ul li ul {
            position: absolute;
            width: 250px;
            display: none;
            background-color: #ECECEC;
            margin-top:5px;
            margin-left: -100px;
        }

            ul li ul li {
                display: block;
            }

                ul li ul li a {
                    display: block !important;
                }

                ul li ul li:hover {
                }
.red {
	color: red;
}
.row-space {
	margin-bottom: 30px;
}
#btnxoa {
	color:white;
	background-color:white;

}
div.stars {
	width: 270px;
	display: inline-block;
}

input.star {
	display: none;
}

label.star {
	float: right;
	padding: 10px;
	font-size: 36px;
	color: #444;
	transition: all .2s;
}

input.star:checked ~ label.star:before {
	content: '\f005';
	color: #FD4;
	transition: all .25s;
}

input.star-5:checked ~ label.star:before {
	color: #FE7;
	text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
	color: #F62;
}

label.star:hover {
	transform: rotate(-15deg) scale(1.3);
}

label.star:before {
	content: '\f006';
	font-family: FontAwesome;
}

/*Loading*/
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #9370DB;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

	#loader:before {
		content: "";
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #BA55D3;
		-webkit-animation: spin 3s linear infinite;
		animation: spin 3s linear infinite;
	}

	#loader:after {
		content: "";
		position: absolute;
		top: 15px;
		left: 15px;
		right: 15px;
		bottom: 15px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #FF00FF;
		-webkit-animation: spin 1.5s linear infinite;
		animation: spin 1.5s linear infinite;
	}

/*Loader circle*/
#circularG {
	position: relative;
	width: 113px;
	height: 113px;
	margin: auto;
}

.circularG {
	position: absolute;
	background-color: rgb(0,0,0);
	width: 26px;
	height: 26px;
	border-radius: 17px;
	-o-border-radius: 17px;
	-ms-border-radius: 17px;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	animation-name: bounce_circularG;
	-o-animation-name: bounce_circularG;
	-ms-animation-name: bounce_circularG;
	-webkit-animation-name: bounce_circularG;
	-moz-animation-name: bounce_circularG;
	animation-duration: 0.818s;
	-o-animation-duration: 0.818s;
	-ms-animation-duration: 0.818s;
	-webkit-animation-duration: 0.818s;
	-moz-animation-duration: 0.818s;
	animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-direction: normal;
	-o-animation-direction: normal;
	-ms-animation-direction: normal;
	-webkit-animation-direction: normal;
	-moz-animation-direction: normal;
}

#circularG_1 {
	left: 0;
	top: 45px;
	animation-delay: 0.308s;
	-o-animation-delay: 0.308s;
	-ms-animation-delay: 0.308s;
	-webkit-animation-delay: 0.308s;
	-moz-animation-delay: 0.308s;
}

#circularG_2 {
	left: 11px;
	top: 11px;
	animation-delay: 0.404s;
	-o-animation-delay: 0.404s;
	-ms-animation-delay: 0.404s;
	-webkit-animation-delay: 0.404s;
	-moz-animation-delay: 0.404s;
}

#circularG_3 {
	top: 0;
	left: 45px;
	animation-delay: 0.51s;
	-o-animation-delay: 0.51s;
	-ms-animation-delay: 0.51s;
	-webkit-animation-delay: 0.51s;
	-moz-animation-delay: 0.51s;
}

#circularG_4 {
	right: 11px;
	top: 11px;
	animation-delay: 0.616s;
	-o-animation-delay: 0.616s;
	-ms-animation-delay: 0.616s;
	-webkit-animation-delay: 0.616s;
	-moz-animation-delay: 0.616s;
}

#circularG_5 {
	right: 0;
	top: 45px;
	animation-delay: 0.712s;
	-o-animation-delay: 0.712s;
	-ms-animation-delay: 0.712s;
	-webkit-animation-delay: 0.712s;
	-moz-animation-delay: 0.712s;
}

#circularG_6 {
	right: 11px;
	bottom: 11px;
	animation-delay: 0.818s;
	-o-animation-delay: 0.818s;
	-ms-animation-delay: 0.818s;
	-webkit-animation-delay: 0.818s;
	-moz-animation-delay: 0.818s;
}

#circularG_7 {
	left: 45px;
	bottom: 0;
	animation-delay: 0.914s;
	-o-animation-delay: 0.914s;
	-ms-animation-delay: 0.914s;
	-webkit-animation-delay: 0.914s;
	-moz-animation-delay: 0.914s;
}

#circularG_8 {
	left: 11px;
	bottom: 11px;
	animation-delay: 1.02s;
	-o-animation-delay: 1.02s;
	-ms-animation-delay: 1.02s;
	-webkit-animation-delay: 1.02s;
	-moz-animation-delay: 1.02s;
}



@keyframes bounce_circularG {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(.3);
	}
}

@-o-keyframes bounce_circularG {
	0% {
		-o-transform: scale(1);
	}

	100% {
		-o-transform: scale(.3);
	}
}

@-ms-keyframes bounce_circularG {
	0% {
		-ms-transform: scale(1);
	}

	100% {
		-ms-transform: scale(.3);
	}
}

@-webkit-keyframes bounce_circularG {
	0% {
		-webkit-transform: scale(1);
	}

	100% {
		-webkit-transform: scale(.3);
	}
}

@-moz-keyframes bounce_circularG {
	0% {
		-moz-transform: scale(1);
	}

	100% {
		-moz-transform: scale(.3);
	}
}
/*end*/
