.nav-contain {
	height: 91px;
	width: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	z-index: 1;
	margin-bottom: 0;
}
.search {
	outline: none;
	width: 230px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border: 2px solid black;
	/*cursor: pointer;*/
	height: 36px;
	padding-left: 10px;
}
input[type=text], input[type=password], input[type=email] {
	outline: none;
	width: 60%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
.nav-a-right {
	padding: 0 0 0 15px;
}
.nav-img-right {
	height: 30px;
}
/* Set a style for all buttons */
button {
	outline: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    width:100px;
}

    button:hover {
        opacity: 0.8;
    }

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
	width: 30px;
	border-radius: 15px;
}

.container {
    padding: 16px;
}

span.psw {
    margin-left: 225px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:black ;
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

.ten {
    position: absolute;
    top: 0;
    color:black;
    font-weight:bold;
}
.single-product-type{
    position: relative;
    float: left;
}
.single-product-type :hover{
    background-color:black;
    color: white;
}
.yeuthich {
    width: 180px;
    margin-left: 30px;
    height: 40px;
    font-weight:bold;
    color:black;
    line-height: 2px;
}
.font {
    font-weight:bold;
    margin-left: 10px;
}
.khung {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
}

