@using Application.ViewModels;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ERPSolution</title>
    <!-- Bootstrap -->
    <link href="/Scripts/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Font Awesome -->

    <link href="/Scripts/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- bootstrap-daterangepicker -->
    <link href="/Scripts/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
   
    <link href="/Scripts/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />
    
    <link href="/Scripts/timepicker.js/timepicker.min.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="/Scripts/admin-side/css/helper.css" rel="stylesheet" />
    <link href="/Scripts/admin-side/css/custom.css" rel="stylesheet" />
    <link href="/Scripts/admin-side/css/style.css" rel="stylesheet" />

    <!--Add-->
    <!-- for-mobile-apps -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Classy Login form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //for-mobile-apps -->
    
    @RenderSection("Styles", required: false)
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/Webmaster/index" class="site_title"><i class="fa fa-paw"></i> <span>Valfre</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            @if (UserLoginViewModel.Current.Avatar != string.Empty)
                            {
                                <img src="/img/@UserLoginViewModel.Current.Avatar" alt="..." class="img-circle profile_img">
                            }
                            else
                            {
                                <img src="/img/login.png" alt="..." class="img-circle profile_img">
                            }
                        </div>
                        <div class="profile_info">
                            <span>Xin chào,</span>
                            <h2 id="user">@UserLoginViewModel.Current.UserName</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    @*@await Component.InvokeAsync("SideBar")*@                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <!--  <h3>Functions</h3>-->
        <ul class="nav side-menu">
           

        </ul>
    </div>
    @*<div class="menu_section">
        <h3>Live On</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="e_commerce.html">E-commerce</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="project_detail.html">Project Detail</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                    <li><a href="profile.html">Profile</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="page_403.html">403 Error</a></li>
                    <li><a href="page_404.html">404 Error</a></li>
                    <li><a href="page_500.html">500 Error</a></li>
                    <li><a href="plain_page.html">Plain Page</a></li>
                    <li><a href="login.html">Login Page</a></li>
                    <li><a href="pricing_tables.html">Pricing Tables</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#level1_1">Level One</a>
                    <li>
                        <a>Level One<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li class="sub_menu">
                                <a href="level2.html">Level Two</a>
                            </li>
                            <li>
                                <a href="#level2_1">Level Two</a>
                            </li>
                            <li>
                                <a href="#level2_2">Level Two</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#level1_2">Level One</a>
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
        </ul>
    </div>*@

</div>
                    <!-- /sidebar menu -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                @*@await Html.PartialAsync("_LoginPartial")*@
                            </li>
                            <li role="presentation" class="dropdown" id="notification_content">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green" id="number_noti"></span>
                                </a>
                                <ul id="notification" class="dropdown-menu list-unstyled msg_list" role="menu"></ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <script id="notification-template" type="x-tmpl-mustache">
                <li>
                    <a href="{{Link}}">
                        <span class="image"><img src="/admin-side/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                            <span>ahihi</span>
                            <span class="time">{{NotificationTime}}</span>
                        </span>
                        <span class="message">{{NotificationContent}}</span>
                    </a>
                </li>
            </script>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Phát triển bởi <a href="/Home/Index">Valfre.com.vn</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <div id="preloader" style="display:none">
        <div id="loader"></div>
    </div>

    <!-- jQuery -->
    <script src="/Scripts/jquery-3.3.1.js" charset="utf-8"></script>
    

    <!-- Bootstrap -->
    <script src="/Scripts/bootstrap/dist/js/bootstrap.js"></script>
    
    <script src="/Scripts/mustache/mustache.js"></script>

    <script src="/Scripts/twbs-pagination/jquery.twbsPagination.js"></script>

    <!-- jQuery Sparklines -->

    <script src="/Scripts/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/Scripts/jquery-validation/dist/additional-methods.js"></script>
    <script src="/Scripts/jquery-validation/dist/Localization/messages_vi.js"></script>
    <script src="/Scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    
    <script src="/Scripts/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="/Scripts/bootstrap-datepicker/dist/locales/bootstrap-datepicker.vi.min.js"></script>
    <script src="/Scripts/notifyjs/dist/notify.js"></script>
    <script src="/Scripts/notifyjs/dist/styles/metro/notify-metro.js"></script>
    
    <!-- Custom Theme Scripts -->
    <script src="/Scripts/app/shared/general.js"></script>
    @*<script src="~/app/shared/unitround.js"></script>*@
    <script src="/Scripts/admin-side/js/custom.js"></script>
    <script src="/Scripts/timepicker.js/timepicker.min.js"></script>
    <script src="/Scripts/app/shared/notificationgeneral.js"></script>
    <script>
        var notification = new ngeneralController();
        notification.initialize();
    </script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>