
@{
    ViewBag.Title = "ctsp";
}

@section Style{

    @*<link href="~/Content/style.css" rel="stylesheet" />*@
}
@section Scripts{
    @*<script src="~/Scripts/app/home/index.js"></script>
            Cái này là js
        <script>
            var home = new homeController();
            home.initialize();</script>*@
}
<div>Menu</div>
<div style="float:left" class="hinh">
    <img src="/img/2.png" style="height:450px; margin-left:90px">
</div>
<div style="float:left; margin-left: 50px; font-family:.VnAristote;">
    <div style=" font-size: 28px; font-weight:bold">Tên sp</div>
    <div style="margin-top:10px; font-size:20px">
        <div style="color:red; float:left; margin-right: 40px">Sao</div>
        <div style="float:left; margin-right: 40px">Đánh giá</div>
        <div style="float:left; margin-right: 40px">Đã bán</div>
    </div>
    <div style="color:red; font-weight:bold; margin-top:50px">
        <div style="font-size: 20px;float:left;">đ</div>
        <div style="font-size: 35px;float:left;">100.000</div>
    </div>
    <div>
        <div style="font-size: 20px">Số lượng: </div>
    </div>

</div>

