
@{
	ViewBag.Title = "ctsp";
}

@section Style{

	@*<link href="~/Content/style.css" rel="stylesheet" />*@
}
@section Scripts{
	<script src="/Scripts/app/sanpham/ctsp.js"></script>
	<script>
		var sp = new ctspController();
		sp.initialize();
	</script>
}
	<div  style="margin-top:100px "id="Product-wrapper"></div>
	<script id="table-template" type="x-tmpl-mustache">
		<div class="row">
			<div class="col-lg-5 chinh">
				<img src="{{IMG}}" style="height:400px; margin-left:70px">
			</div>
			<div class="col-lg-6">
				<div>
					<div style=" font-size: 25px; font-weight:bold">{{Tensp}}</div>
					<div>Sao :</div>
					<div>Đánh giá : </div>
					<div>Đã bán :</div>
				</div>
				<div>
					<input id="txtSoluong" type="number" min="0" value="1" />
				</div>
				<div class="row" style="color:red; font-weight:bold; margin-top:50px">
					<div style="font-size: 35px;float:left;">Giá :{{Dongia}}</div>
					<div style="font-size: 20px;float:left;">đ</div>
				</div>
				<div>
					<div class="row"style="font-size: 20px">Còn Lại :{{Soluong}} </div>
				</div>
				<div>
					<button style="width:200px" class="giohang themgiohang btn-danger">Thêm vào giỏ hàng </button>
				</div>
			</div>
		</div>
	</script>


		@*<script id="table-template" type="x-tmpl-mustache">

			<div style="float:left; margin-left: 50px; font-family:VnAristote;">
				<div style="float:left" class="hinh">
					<img src="{{IMG}}" style="height:400px; margin-left:70px">
				</div>
				<div style="margin-top:10px; font-size:20px">
					<div style=" font-size: 25px; margin-right:50px; font-weight:bold">{{Tensp}}</div>
					<div style="color:red; float:left; margin-right: 40px">Sao</div>
					<div style="float:left; margin-right: 60px">Đánh giá</div>
					<div style="float:left; margin-right: 40px">Đã bán</div>
				</div>
				<div style="color:red; font-weight:bold; margin-top:50px">
					<div style="font-size: 20px;float:left;">đ</div>
					<div style="font-size: 35px;float:left;">{{Dongia}}</div>
				</div>
				<div>
					<div style="font-size: 20px">Số lượng:{{Soluong}} </div>
				</div>

			</div>
		</script>*@




