
@{
    ViewBag.Title = "ctsp";
}

@section Style{

    @*<link href="~/Content/style.css" rel="stylesheet" />*@
}
@section Scripts{
    @*<script src="~/Scripts/app/home/index.js"></script>
            Cái này là js
        <script>
            var home = new homeController();
            home.initialize();</script>*@
}

<div style="float:left; margin-top:50px" class="hinh">
    <h4 style="margin-top:50px">
        <a href="http://localhost:51415/Home/Index">TRANG CHỦ/</a>
        <a href="http://localhost:51415/Sanpham/Theosanpham">ỐP LƯNG ĐIỆN THOẠI/</a>
        CHI TIẾT SẢN PHẨM
    </h4>
    <hr />
    <img src="..\img\2.png" style="height:450px">
    <div style="float:left; margin-left: 550px;margin-top: -450px; font-family:Garamond;">
        <div style=" font-size: 28px; font-weight:bold">Tên sp</div>
        <div style="margin-top:10px; font-size:20px">
            <div style="color:red; float:left; margin-right: 40px">Sao</div>
            <div style="float:left; margin-right: 40px">Số lượng đánh giá</div>
            <div style="float:left; margin-right: 40px">Đã bán</div>
        </div>
        <div style="color:red; font-weight:bold; margin-top:50px">
            <div style="float:left;font-size: 20px">đ</div>
            <div style="font-size: 35px">100.000</div>
        </div>
        <div>
            <div style="font-size: 20px">Mô tả: </div>
        </div>
        <div>
            <div style="font-size: 20px;float:left">Số lượng: </div>
            <input style="margin-left:10px" type="number" />
        </div>
        <div>
            <div style="font-size: 20px">Thành tiền: </div>
        </div>
    </div>

</div>

