
@{
    ViewBag.Title = "Giohang";
}
@section Scripts{
    <script src="/Scripts/app/sanpham/index.js"></script>
    <script>
        var sp = new sanphamController();
        sp.initialize();
    </script>
}
<h2> Giỏ Hàng  </h2>
<h4 style="margin-top:50px">
    <a href="/Home/Index">Trang Chủ /Giỏ Hàng </a>
</h4>

<div id="buy" class="modal">
    <form class="modal-content animate" id="buy" action="#" method="post">
        <div class="imgcontainer">
            <span onclick="document.getElementById('buy').style.display='none'" class="close" title="Close Modal">&times;</span>
            <img style="width:25%; margin-top: -50px" src="/img/logo3.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <div id="form-body">
                <div style="margin-left: 225px">
                    <label for="txtName"><b>Họ tên</b></label>
                    <div><input type="text" placeholder="Họ tên" id="txtName" name="txtEmail"></div>
                </div>

                <div style="margin-left: 225px">
                    <label for="txtAddress"><b>Địa chỉ</b></label>
                    <div><input type="text" placeholder="Địa chỉ" id="txtAddress" name="txtAddress"></div>
                </div>

                <div style="margin-left: 225px">
                    <label for="txtPhone"><b>Số điện thoại</b></label>
                    <div><input type="text" placeholder="Số điện thoại" id="txtPhone" name="txtPhone"></div>
                </div>

                <div style="margin-left: 225px">
                    <label for="txtNote"><b>Ghi chú</b></label>
                    <div><input type="text" placeholder="..." id="txtNote" name="txtNote"></div>
                </div>

            </div>
            <div id="btnArea">
                <div style="margin-left: 400px"><button id="btnMua" type="button">Đặt hàng</button></div>
            </div>
        </div>
    </form>
</div>




<div style="margin-top:100px " id="Product-wrapper"></div>
<br /> Tổng Tiền : <p id="tongTien"></p>
<button class="btn btn-danger" onclick="document.getElementById('buy').style.display='block'" style="float: right;">Mua</button>
<script id="table-template" type="x-tmpl-mustache">
    <div class="row">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Loại sản phẩm</th>
                    <th>Đơn giá</th>
                    <th>Số Lượng </th>
                    <th>Thành Tiền </th>
                    <th> Xóa</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div style="float:left"><img width="50px" src="{{IMG}}" /></div>
                        <div style="float:left; margin-left: 10px; font-weight:bold;">{{Tensp}}</div>
                    </td>
                    <td>
                        {{Loaisp}}
                    </td>
                    <td>
                        {{Dongia}}
                    </td>
                    <td>
                        <input class="soluongSp" type="number" min="1" width=20px value="{{Soluong}}" />
                    </td>
                    <td class="subTotal">
                        {{ThanhTien}}
                    </td>
                    <td> <button class="btnXoa" data-id="{{KeyID}}">xóa</button></td>

                </tr>

            </tbody>
        </table>

    </div>
</script>


