
@{
    ViewBag.Title = "Theosanpham";
}
@section Style{

  }
<h2>Theosanpham</h2>
<h4 style="margin-top:50px">
    <a href="http://localhost:51415/Home/Index">TRANG CHỦ/</a>
    ỐP LƯNG ĐIỆN THOẠI
</h4>
<hr />
<div>
    <div class="khung" style="float:left">
        <img style="width:240px" src="..\img\5.png">
        <div>Tên</div>
        <div>Giá</div>
        <div>
            <button>Thêm vào yêu thích</button>
            <button>Mua ngay</button>
        </div>
    </div>
    <div class="khung" style="float:left; margin-left:50px">
        <img style="width:240px" src="..\img\2.png">
        <div>Tên</div>
        <div>Giá</div>
        <div>
            <button>Thêm vào yêu thích</button>
            <button>Mua ngay</button>
        </div>
    </div>
    <div class="khung" style="float:left; margin-left:50px">
        <img style="width:240px" src="/img/3.png">
        <div>Tên</div>
        <div>Giá</div>
        <div>
            <button>Thêm vào yêu thích</button>
            <button>Mua ngay</button>
        </div>
    </div>
    <div class="khung" style="float:left; margin-left:50px; height:382.87px">
        <img style="width:240px" src="..\img\4.png">
        <div>Tên</div>
        <div>Giá</div>
        <div>
            <button class="btn btn-success">Thêm vào yêu thích</button>
            <button>Mua ngay</button>
        </div>
    </div>
</div>

