
@{
    ViewBag.Title = "Theosanpham";
}
@section Style{

}
<h2>Theosanpham</h2>
<h4 style="margin-top:50px">
    <a href="http://localhost:51415/Home/Index">TRANG CHỦ/</a>
    ỐP LƯNG ĐIỆN THOẠI
</h4>
<hr />
<div>
    <div class="row">
        <div class="col-lg-3">
            <img style="width:100%" src="..\img\5.png">
            <div class="font">Tên</div>
            <div class="font">Giá</div>
			<div>
				<button class="yeuthich btn-danger">Thêm vào yêu thích</button>
				<button class="yeuthich btn-danger"><a href="/Sanpham/ctsp">Mua ngay</a></button>
			</div>
        </div>
        <div class="col-lg-3">
            <img style="width:100%" src="..\img\6.png">
            <div class="font">Tên</div>
            <div class="font">Giá</div>
            <div>
                <button class="yeuthich btn-danger">Thêm vào yêu thích</button>
                <button class="yeuthich btn-danger">Mua ngay</button>
            </div>
        </div>
        <div class="col-lg-3">
            <img style="width:100%" src="..\img\7.png">
            <div class="font">Tên</div>
            <div class="font">Giá</div>
            <div>
                <button class="yeuthich btn-danger">Thêm vào yêu thích</button>
                <button class="yeuthich btn-danger">Mua ngay</button>
            </div>

        </div>
        <div class="col-lg-3">
            <img style="width:100%" src="..\img\8.png">
            <div class="font">Tên</div>
            <div class="font">Giá</div>
            <div>
                <button class="yeuthich btn-danger">Thêm vào yêu thích</button>
                <button class="yeuthich btn-danger">Mua ngay</button>
            </div>
        </div>
    </div>
</div>
<div style="margin-top:30px">
    <div class="row">
        <div class="col-lg-3">
            <img style="width:100%" src="..\img\5.png">
            <div class="font">Tên</div>
            <div class="font">Giá</div>
            <div>
                <button class="yeuthich btn-danger">Thêm vào yêu thích</button>
                <button class="yeuthich btn-danger">Mua ngay</button>
            </div>
        </div>
        <div class="col-lg-3">
            <img style="width:100%" src="..\img\6.png">
            <div class="font">Tên</div>
            <div class="font">Giá</div>
            <div>
                <button class="yeuthich btn-danger">Thêm vào yêu thích</button>
                <button class="yeuthich btn-danger">Mua ngay</button>
            </div>
        </div>
        <div class="col-lg-3">
            <img style="width:100%" src="..\img\7.png">
            <div class="font">Tên</div>
            <div class="font">Giá</div>
            <div>
                <button class="yeuthich btn-danger">Thêm vào yêu thích</button>
                <button class="yeuthich btn-danger">Mua ngay</button>
            </div>

        </div>
        <div class="col-lg-3">
            <img style="width:100%" src="..\img\8.png">
            <div class="font">Tên</div>
            <div class="font">Giá</div>
            <div>
                <button class="yeuthich btn-danger">Thêm vào yêu thích</button>
                <button class="yeuthich btn-danger">Mua ngay</button>
            </div>
        </div>
    </div>
</div>

