@{
    ViewBag.Title = "Donban";
    Layout = "~/Views/Shared/Layout_Nguoiban.cshtml";
}
@section Scripts1{
    <script src="/Scripts/app/nguoiban/donban.js"></script>
    <script>
        var donban = new donbanController();
        donban.initialize();
    </script>
}
@section Style{

}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Tất cả</a></li>
    <li><a data-toggle="tab" href="#menu1">Chờ xác nhận</a></li>
    <li><a data-toggle="tab" href="#menu2">Giao hàng</a></li>
    <li><a data-toggle="tab" href="#menu3">Hoàn thành</a></li>
    <li><a data-toggle="tab" href="#menu4">Đã hủy</a></li>
</ul>
<hr />
<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div class="row">
            <div class="col-lg-8"><h3>Tổng số lượng sản phẩm</h3></div>
            <div class="col-lg-4"></div>
        </div>
        <div>
            <input id="txtKeyword" type="text" placeholder="Tìm sản phẩm...">
            <div>
                <img style="height:27px;margin-top:-85px; margin-left: 630px" src="..\img\search.png" />
            </div>
        </div>
        <div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Thông tin khách hàng</th>
                        <th>Tổng đơn hàng</th>
                        <th>Tình trạng</th>
                        <th>Chi tiết đơn hàng</th>
                    </tr>
                </thead>
                <tbody id="new-Product"></tbody>
            </table>
        </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="row">
            <div class="col-lg-8"><h3>Tổng số lượng sản phẩm</h3></div>
        </div>
        <div>
            <input type="text" placeholder="Tìm sản phẩm...">
            <div>
                <img style="height:27px;margin-top:-85px; margin-left: 630px" src="\img\search.png" />
            </div>
        </div>
        <div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Thông tin khách hàng</th>
                        <th>Tổng đơn hàng</th>
                        <th>Tình trạng</th>
                        <th>Xử lý</th>
                    </tr>
                </thead>
                <tbody id="new-Product1"></tbody>
            </table>
        </div>
    </div>
    <div id="menu2" class="tab-pane fade">
        <div class="row">
            <div class="col-lg-8"><h3>Tổng số lượng sản phẩm</h3></div>
        </div>
        <div>
            <input type="text" placeholder="Tìm sản phẩm...">
            <div>
                <img style="height:27px;margin-top:-85px; margin-left: 630px" src="..\img\search.png" />
            </div>
            <div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Thông tin khách hàng</th>
                            <th>Tổng đơn hàng</th>
                            <th>Tình trạng</th>
                            <th>Xử lý</th>
                        </tr>
                    </thead>
                    <tbody id="new-Product2"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="menu3" class="tab-pane fade">
        <div class="row">
            <div class="col-lg-8"><h3>Tổng số lượng sản phẩm</h3></div>
        </div>
        <div>
            <input type="text" placeholder="Tìm sản phẩm...">
            <div>
                <img style="height:27px;margin-top:-85px; margin-left: 630px" src="..\img\search.png" />
            </div>
        </div>
        <div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Thông tin khách hàng</th>
                        <th>Tổng đơn hàng</th>
                        <th>Tình trạng</th>
                    </tr>
                </thead>
                <tbody id="new-Product3"></tbody>
            </table>
        </div>
    </div>
    <div id="menu4" class="tab-pane fade">
        <div class="row">
            <div class="col-lg-8"><h3>Tổng số lượng sản phẩm</h3></div>
        </div>
        <div>
            <input type="text" placeholder="Tìm sản phẩm...">
            <div>
                <img style="height:27px;margin-top:-85px; margin-left: 630px" src="..\img\search.png" />
            </div>
        </div>
        <div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Thông tin khách hàng</th>
                        <th>Tổng đơn hàng</th>
                        <th>Tình trạng</th>
                    </tr>
                </thead>
                <tbody id="new-Product4"></tbody>
            </table>
        </div>
    </div>
</div>


<!--Phân trang-->
<div class="row">
    <div class="col-sm-5">
        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
            <select id="ddlShowPage">
                <option value="12" selected="selected">12</option>
                <option value="24">24</option>
                <option value="36">36</option>
                <option value="48">48</option>
            </select>
            <span class="item-per-page">
                bản ghi/trang.
            </span>
            Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
            <ul id="paginationUL"></ul>
        </div>
    </div>
</div>

@*<div id="user" class="modal">
        <form class="modal-content animate" id="frmMaintainance" action="#" onsubmit="return validateForm()" method="post">
            <span onclick="document.getElementById('user').style.display='none'" class="close" title="Close Modal">&times;</span>

            <table id="tblhd" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Mã sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody id="new-Product5"></tbody>
            </table>
    </div>*@

<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>{{MaHD}}</td>
        <td>
            <div>Tên khách hàng: {{TenKH}}</div>
            <div>Địa chỉ: {{dc}}</div>
            <div>Số điện thoại: {{sdt}}</div>
        </td>
        <td>
            {{Total}}
        </td>
        <td>
            {{Trangthai}}
        </td>
        <td>
            <button class="btnView" data-id="{{KeyId}}">Xem</button>
        </td>
    </tr>
</script>
<script id="table-template1" type="x-tmpl-mustache">
    <tr>
        <td>
            <div>{{MaHD}}</div>
        </td>
        <td>
            <div>Tên khách hàng: {{TenKH}}</div>
            <div>Địa chỉ: {{dc}}</div>
            <div>Số điện thoại: {{sdt}}</div>
        </td>
        <td>
            {{Total}}
        </td>
        <td>
            {{Trangthai}}
        </td>
        <td>
            <button class="btnAccept" style="width:auto;" data-id="{{KeyId}}">Giao hàng</button>
            <button class="btnCancel" style="width:auto;" data-id="{{KeyId}}">Hủy</button>
        </td>
    </tr>
</script>
<script id="table-template2" type="x-tmpl-mustache">
    <tr>
        <td>
            <div>{{MaHD}}</div>
        </td>
        <td>
            <div>Tên khách hàng: {{TenKH}}</div>
            <div>Địa chỉ: {{dc}}</div>
            <div>Số điện thoại: {{sdt}}</div>
        </td>
        <td>
            {{Total}}
        </td>
        <td>
            <button class="btnSuccess" style="width:auto;" data-id="{{KeyId}}">Hoàn thành</button>
            <button class="btnCancel" style="width:auto;" data-id="{{KeyId}}">Hủy</button>
        </td>
        <td>
            {{Trangthai}}
        </td>
    </tr>
</script>
<script id="table-template3" type="x-tmpl-mustache">
    <tr>
        <td>
            <div>{{MaHD}}</div>
        </td>
        <td>
            <div>Tên khách hàng: {{TenKH}}</div>
            <div>Địa chỉ: {{dc}}</div>
            <div>Số điện thoại: {{sdt}}</div>
        </td>
        <td>
            {{Total}}
        </td>
        <td>
            {{Trangthai}}
        </td>
    </tr>
</script>
<script id="table-template4" type="x-tmpl-mustache">
    <tr>
        <td>
            <div>{{MaHD}}</div>
        </td>
        <td>
            <div>Tên khách hàng: {{TenKH}}</div>
            <div>Địa chỉ: {{dc}}</div>
            <div>Số điện thoại: {{sdt}}</div>
        </td>
        <td>
            {{Total}}
        </td>
        <td>
            {{Trangthai}}
        </td>
    </tr>
</script>
<script id="table-template5" type="x-tmpl-mustache">
    <tr>
        <td>{{ProductCode}}</td>
        <td>{{ProductName}}</td>
        <td><img src="{{Imgsrc}}" width="35px" height="35px"></td>
        <td>{{Price}}</td>
        <td>{{Qty}}</td>
        <td>{{SubTotal}}</td>
    </tr>
</script>


<div id="modal-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onclick="document.getElementById('modal-add-edit').style.display='none'" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="right:-35px;">×</button>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group row">
                            <input type="hidden" id="txtKeyId" />
                            <label for="txtHdId" class="col-sm-2 col-form-label">Mã hóa đơn</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtHdId" name="txtHdId" style="width:100%" readonly />
                            </div>
                            <label for="dtDateCreate" class="col-sm-2 col-form-label">Ngày đặt hàng</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="dtDateCreate" name="dtDateCreate" style="width:100%" readonly />
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="txtCustomer" class="col-sm-2 col-form-label">Tên khách hàng</label>
                            <div class="col-sm-4 autocomplete">
                                <input id="txtCustomer" class="form-control" data-addressbookid type="text" name="txtCustomer" style="width:100%" autocomplete="off" readonly />
                            </div>
                            <label for="txtPhoneNumber" class="col-sm-2 col-form-label">Số điện thoại</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtPhoneNumber" name="txtPhoneNumber" style="width:100%" readonly />
                            </div>

                        </div>

                        <div class="form-group row">
                            <label for="txtAddress" class="col-sm-2 col-form-label">Địa chỉ</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtAddress" name="txtAddress" style="width:100%" readonly />
                            </div>

                        </div>

                        <div class="form-group row">
                            <label for="txtNote" class="col-sm-2 col-form-label">Ghi chú</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtNote" name="txtNote" style="width:100%" readonly />
                            </div>
                        </div>


                        <table id="tblhd" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Hình ảnh</th>
                                    <th>Đơn giá</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody id="new-Product5"></tbody>
                        </table>
                        <div class="form-group row">
                            <div class="col-sm-offset-8 col-sm-4" id="formEdit">
                                <label>Tổng tiền</label>
                                <span class="red" id="txtTotalMoney"  style="float: right;"></span>
                            </div>

                        </div>


                        <div class="form-group row">
                            <div class="col-sm-offset-8 col-sm-6" id="formEdit">
                                <button type="button" id="btnAccept" class="btn btn-info btnAccept">Giao hàng</button>
                                <button type="button" id="btnSuccess" class="btn btn-success btnSuccess">Hoàn thành</button>
                                <button type="button" id="btnCancel" class="btn btn-danger btnCancel">Hủy đơn hàng</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>