
@{
    ViewBag.Title = "Index";
}

<div style="height:85px; background-color:black; color: white; margin-top:100px;width: 1372px; margin-left: -120px">
    <div style="margin-left: 100px;float:left">
        <img height="80px" src="..\img\logoden.png">
    </div>
    <div style="float:left; font-weight:bold; font-size:17px; margin-top:29px; margin-left: 20px">VALFRE- TRANG NGƯỜI BÁN</div>
    <div style="">
        <div style="margin-left: 500px;float:left;margin-top:28px">
            <img height="30px" src="..\img\bell.png">
        </div>
        <div style="margin-left: 50px;float:left;margin-top:28px">
            <img height="30px" src="..\img\menu.png">
        </div>
        <div style="margin-left: 20px;float:left;margin-top:-10px">
            <img style="border-radius: 50%; height: 60px; margin: 20px; padding: 10px; text-align: center; width:60px" height="40px" src="..\img\logo3.png">
        </div>
        <div style="margin-left: 0px;float:left;margin-top:35px">
            Tên merchant
        </div>
    </div>
</div>

<div>
    <div style="background: #dddddd; border-radius: 50%; border: 2px solid #a1a1a1; height: 300px; margin: 20px; padding: 10px; text-align: center; width: 300px">
        <h2 style=”font-size: 22px; margin-top: 33%;”>Tôi Sẽ Bo Tròn Tuyệt Đối Đoạn Văn Bản Này, Bạn Xem Như Này Đã Ưng Mắt Chưa</h2>
    </div>
    
    <div>

    </div>
</div>

