
@{
    ViewBag.Title = "Trang người bán";
    Layout = "/Views/Shared/Layout_Nguoiban.cshtml";
}
@section Scripts1{
    <script src="/Scripts/app/nguoiban/index.js"></script>

    <script>
        var home = new nguoibanController();
        home.initialize();
    </script>
}
<link href="~/Content/style.css" rel="stylesheet" />
<div style="width: 100%;text-align:center ">
    <h1>Chào mừng đến với Valfre - Kênh Người bán</h1>
</div>
<div style="width: 100%;text-align:center; font-size: 20px ">
    Valfre - Kênh Người bán là công cụ quản lý shop, giúp bạn dễ phân loại sản phẩm, theo dõi đơn hàng, chăm sóc khách hàng và đánh giá hoạt động của shop.
    Là chủ shop, bạn vui lòng đọc kĩ và tuân thủ Chính sách.
</div>
<div style="margin-top:50px">
    <div class="row">
        <div class="col-lg-2"></div>
        <a class="col-lg-2" href="../Nguoiban/Sanpham">
            <div>
                <img style="border-radius:50%" width="150px" src="../img/sp.png" />
                <div style="margin-left:28px; color:royalblue; margin-top: 10px; font-weight:bold; font-size: 18px ">Sản phẩm</div>
            </div>
        </a>
        <a class="col-lg-2" href="../Nguoiban/Donban">
            <div>
                <img style="border-radius:50%" width="150px" src="../img/h.png" />
                <div style="margin-left:28px; color:royalblue; margin-top: 10px; font-weight:bold; font-size: 18px ">Đơn bán</div>
            </div>
        </a>
        <a class="col-lg-2" href="../Nguoiban/Doanhthu">
            <div>
                <img style="border-radius:50%" width="150px" src="../img/t.png" />
                <div style="margin-left:28px; color:royalblue; margin-top: 10px; font-weight:bold; font-size: 18px ">Doanh thu</div>
            </div>
        </a>
        <a class="col-lg-2" href="../Nguoiban/Muatin">
            <div>
                <img style="border-radius:50%" width="150px" src="../img/b.jpg" />
                <div style="margin-left:28px; color:royalblue; margin-top: 10px; font-weight:bold; font-size: 18px ">Mua tin</div>
            </div>
        </a>
        <div class="col-lg-2"></div>
    </div>
</div>

<div>

</div>

