
@{
    ViewBag.Title = "Muatin";
    Layout = "~/Views/Shared/Layout_Nguoiban.cshtml";
}

<form class="modal-content animate" id="frmMaintainance" action="#" onsubmit="return validateForm()" method="post">
    @*<div class="imgcontainer">
        <span onclick="document.getElementById('user').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img style="width:25%; margin-top: -50px" src="..\img\logo3.png" alt="Avatar" class="avatar">
    </div>*@

    <h3 style="color:blue; text-align:center">GIAO DỊCH MUA TIN</h3>
    <hr />
    <div class="container">
        <div style="color:blue">THÔNG TIN WEB MASTER</div>
        <br />
        <div style="margin-left: 125px">
            <div class="row">
                <label class="col-lg-4"><b>Số tài khoản:</b></label>
                <div class="col-lg-8"> <b>711A080719987</b> </div>
            </div>
        </div>
        <div style="margin-left: 125px">
            <div class="row">
                <label class="col-lg-4"><b>Ngân hàng:</b></label>
                <div class="col-lg-8"> <b>VietinBank</b> </div>
            </div>
        </div>
        <div style="margin-left: 125px">
            <div class="row">
                <label class="col-lg-4"><b>Số lượng tin:</b></label>
                <div class="custom-select col-lg-8" style="width:200px;">
                    <select>
                        <option value="0">5</option>
                        <option value="1">10</option>
                        <option value="2">15</option>
                    </select>
                </div>
            </div>
            <div></div>
        </div>
        <div style="color:red">
            <i>*Mẫu nội dung chuyển tiền( Trong phiếu chuyển tiền):</i>
        </div>
        <div style="color:red; font-weight:bold">
            Chuyển tiền mua tin- Mã nhà cung cấp- Mã cung cấp 
        </div>
        <div>
            <div style="margin-left: 370px"><button type="submit">Mua tin</button></div>
        </div>
    </div>
</form>

