
@{
    ViewBag.Title = "Sanpham";
    Layout = "~/Views/Shared/Layout_Nguoiban.cshtml";
}
@section Scripts1{
    <script src="/Scripts/app/nguoiban/index.js"></script>
    <script>
        var sanpham = new nguoibanController();
        sanpham.initialize();
    </script>
}
@section Style{

}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Tất cả</a></li>
    <li><a data-toggle="tab" href="#menu1">Còn hàng</a></li>
    <li><a data-toggle="tab" href="#menu2">Hết hàng</a></li>
    @*<li><a data-toggle="tab" href="#menu3">Đã bị khóa</a></li>*@
</ul>
<hr />
<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div><h3 style="color:red">Tổng số lượng sản phẩm</h3></div>
        <div class="row">
            <div class="col-lg-6">
                <input id="txtKeyword" type="text" placeholder="Tìm sản phẩm...">
                <div>
                    <img style="height:27px;margin-top:-85px; margin-left: 290px" src="/img/search.png" />
                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
                <a class="col-sm-4 nav-a-right" id="btnthemsanpham" onclick="document.getElementById('user').style.display='block'"><button class="btn-danger btnthemsp"> + Thêm sản phẩm mới</button></a>
                <div id="user" class="modal">

                    <form class="modal-content animate" id="frmMaintainance" action="#" onsubmit="return validateForm()" method="post">
                        <span onclick="document.getElementById('user').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <div style="margin-left:30px; margin-top:30px; margin-bottom: 50px">
                            <img style="float:left; width: 40px" src="~/img/themsp.png" />
                            <div style="float:left; margin-top: -15px; margin-left: 10px"><h3 style="color:#00B2BF; font-weight:bold">Thêm sản phẩm</h3></div>
                        </div>

                        <div class="container">
                            <div style="margin-left: 180px">
                                <label for="product"><b>Tên sản phẩm: </b></label>
                                <input type="text" placeholder="Nhập thông tin ..." id="txttenmoi" name="product" required>
                            </div>

                            <div style="margin-left: 180px">
                                <label for="loaiProduct"><b>Loại sản phẩm: </b></label>
                                <div class="custom-select" style="width:200px; margin-left: 110px; margin-top: -23px; outline: none;width: 60%;padding: 12px 20px;margin: 8px 0;
                                        display: inline-block;border: 1px solid #ccc;box-sizing: border-box;border-radius: 20px;-moz-border-radius: 20px;-webkit-border-radius: 20px;">
                                    <select id="txtloaithem">
                                        <option value="0">Ốp điện thoại</option>
                                        <option value="1">Bao máy tính bảng</option>
                                        <option value="2">Ring- bóp</option>
                                        <option value="3">Khác</option>
                                    </select>
                                </div>
                            </div>

                            <div style="margin-left: 180px">
                                <label for="dongia"><b>Đơn giá: </b></label>
                                <input style="margin-left:43px" type="number" placeholder="Nhập thông tin ..." id="txtdongiathem" name="dongia" required>
                            </div>

                            <div style="margin-left: 180px">
                                <label for="sluong"><b>Số lượng: </b></label>
                                <input style="margin-left:34px" type="number" placeholder="Nhập thông tin ..." id="txtsluongthem" name="sluong" required>
                            </div>

                            <div style="margin-left: 180px">
                                <label for="mota"><b>Mô tả: </b></label>
                                <input style="margin-left:60px" type="text" placeholder="Nhập thông tin ..." id="txtmotathem" name="mota" required>
                            </div>

                            <div style="margin-left: 180px">
                                <label for="imgsp"><b>Hình ảnh : </b></label>
                                <div style="margin-left: 200px; margin-top: -24px" class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                           aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01"></label>
                                </div>
                            </div>

                            <div>
                                <div style="margin-left: 400px"><button class="btnthemtk" type="submit">Thêm</button></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Loại sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Kho hàng</th>
                        <th>Đã bán</th>
                        <th>Còn lại</th>
                    </tr>
                </thead>
                <tbody id="new-Product">
                </tbody>
            </table>
        </div>

    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="row">
            <div class="col-lg-8"><h3 style="color:red">Số lượng sản phẩm còn</h3></div>
        </div>
        <div>
            <input id="txtKeyword" type="text" placeholder="Tìm sản phẩm...">
            <div>
                <img style="height:27px;margin-top:-85px; margin-left: 630px" src="/img/search.png" />
            </div>
        </div>
        <div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Loại sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Kho hàng</th>
                        <th>Còn lại</th>
                    </tr>
                </thead>
                <tbody id="new-Product1">
                </tbody>
            </table>
        </div>

    </div>
    <div id="menu2" class="tab-pane fade">
        <div class="row">
            <div class="col-lg-8"><h3 style="color:red">Số lượng sản phẩm hết</h3></div>
        </div>
        <div>
            <input id="txtKeyword" type="text" placeholder="Tìm sản phẩm...">
            <div>
                <img style="height:27px;margin-top:-85px; margin-left: 630px" src="/img/search.png" />
            </div>
        </div>
        <div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Loại sản phẩm</th>
                        <th>Đơn giá</th>
                    </tr>
                </thead>
                <tbody id="new-Product2">    
                </tbody>
            </table>
        </div>

    </div>
    @*<div id="menu3" class="tab-pane fade">
        <div class="row">
            <div class="col-lg-8"><h3 style="color:red">Số lượng sản phẩm khóa</h3></div>
        </div>
        <div>
            <input id="txtKeyword" type="text" placeholder="Tìm sản phẩm...">
            <div>
                <img style="height:27px;margin-top:-85px; margin-left: 630px" src="/img/search.png" />
            </div>
        </div>
        <div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Loại sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Kho hàng</th>
                        <th>Còn lại</th>
                        <th>Ghi chú</th>
                        <th>
                            Gỡ khóa(Chỉ áp dụng 1 lần duy nhất)
                        </th>
                    </tr>
                </thead>
                <tbody id="new-Product3">
                    
                </tbody>
            </table>
        </div>
    </div>*@
</div>

<div id="Product-wrapper"></div>
<!--Pagination-->
<div class="row">
        <div class="col-sm-5">
            <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                <select id="ddlShowPage">
                    <option value="12" selected="selected">12</option>
                    <option value="24">24</option>
                    <option value="36">36</option>
                    <option value="48">48</option>
                </select>
                <span class="item-per-page">
                    bản ghi/trang.
                </span>
                Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                <ul id="paginationUL"></ul>
            </div>
        </div>
</div>

<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>
            <div style="float:left"><img width="50px" src="{{img}}" /></div>
            <div style="float:left; margin-left: 10px; font-weight:bold;">{{ProductName}}</div>
        </td>
        <td>
            {{ProductType}}
        </td>
        <td>
            {{Price}}
        </td>
        <td>
            {{Quanlity}}
        </td>
        <td>
            sl đã bán
        </td>
        <td>
            sl còn lại
        </td>
    </tr>
</script>
<script id="table-template1" type="x-tmpl-mustache">
    <tr>
        <td>
            <div style="float:left"><img width="50px" src="{{img}}" /></div>
            <div style="float:left; margin-left: 10px; font-weight:bold;">{{ProductName}}</div>
        </td>
        <td>
            {{ProductType}}
        </td>
        <td>
            {{Price}}
        </td>
        <td>
            {{Quanlity}}
        </td>
    </tr>
</script>
<script id="table-template2" type="x-tmpl-mustache">
    <tr>
        <td>
            <div style="float:left"><img width="50px" src="{{img}}" /></div>
            <div style="float:left; margin-left: 10px; font-weight:bold;">{{ProductName}}</div>
        </td>
        <td>
            {{ProductType}}
        </td>
        <td>
            {{Price}}
        </td>
    </tr>
</script>
<script id="table-template3" type="x-tmpl-mustache">
    <tr>
        <td>
            <div style="float:left"><img width="50px" src="{{img}}" /></div>
            <div style="float:left; margin-left: 10px; font-weight:bold;">{{ProductName}}</div>
        </td>
        <td>
            {{ProductType}}
        </td>
        <td>
            {{Price}}
        </td>
        <td>
            {{Quanlity}}
        </td>
        <td>
            sl còn lại
        </td>
        <td>
            ghi chú lý do khóa và số lần bị khóa
        </td>
        <td>
            <button id="gokhoa">Gỡ</button>
        </td>
    </tr>
</script>




