
@{
    ViewBag.Title = "Sanpham";
    Layout = "~/Views/Shared/Layout_Nguoiban.cshtml";
}
@section Scripts{
    <script src="~/Scripts/app/home/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
}
@section Style{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Tất cả</a></li>
    <li><a data-toggle="tab" href="#menu1">Còn hàng</a></li>
    <li><a data-toggle="tab" href="#menu2">Hết hàng</a></li>
    <li><a data-toggle="tab" href="#menu3">Đã bị khóa</a></li>
</ul>
<hr />
<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div class="row">
            <div class="col-lg-8"><h3>Tổng số lượng sản phẩm</h3></div>
            <div class="col-lg-2"><button class="btn-danger btnthemsp"> + Thêm sản phẩm mới</button></div>
        </div>
        <div>
            <input type="text" placeholder="Tìm sản phẩm...">
        </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="row">
            <div class="col-lg-8"><h3>Tổng số lượng sản phẩm</h3></div>
        </div>
        <div>
            <input type="text" placeholder="Tìm sản phẩm...">
        </div>
    </div>
    <div id="menu2" class="tab-pane fade">
        <div class="row">
            <div class="col-lg-8"><h3>Tổng số lượng sản phẩm</h3></div>
        </div>
        <div>
            <input type="text" placeholder="Tìm sản phẩm...">
        </div>
    </div>
    <div id="menu3" class="tab-pane fade">
        <div class="row">
            <div class="col-lg-8"><h3>Tổng số lượng sản phẩm</h3></div>
        </div>
        <div>
            <input type="text" placeholder="Tìm sản phẩm...">
        </div>
    </div>
</div>

<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Chọn</th>
                <th>Tên sản phẩm</th>
                <th>Loại sản phẩm</th>
                <th>Đơn giá</th>
                <th>Kho hàng</th>
                <th>Đã bán</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                    </div>
                </td>
                <td>
                    <div style="float:left"><img width="50px" src="../img/2.png" /></div>
                    <div style="float:left; margin-left: 10px; font-weight:bold;">tên sp</div>
                </td>
                <td>
                    <div class="custom-select" style="width:200px;">
                        <select>
                            <option value="0">Ốp điện thoại</option>
                            <option value="1">Bao máy tính bảng</option>
                            <option value="2">Ring- bóp</option>
                            <option value="4">Khác</option>
                        </select>
                    </div>
                </td>
                <td>
                    tiền
                </td>
                <td>
                    sl đang có
                </td>
                <td>
                    sl đã bán
                </td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            
        </tbody>
    </table>
</div>

<div>phân trang</div>




