
@{
    ViewBag.Title = "Thongtinnguoiban";
    Layout = "~/Views/Shared/Layout_Nguoiban.cshtml";
}
@section Scripts1{
    <script src="/Scripts/app/nguoiban/thongtin.js"></script>
    <script>
        var nguoiban = new nguoibanController();
        nguoiban.initialize();
    </script>
}


<h1 style="color:blue; text-align:center">Thông tin người bán</h1>
<script id="table-template" type="x-tmpl-mustache">
    <div>
        <h3 style="color:red ; margin-left: 800px">Số lượng tin còn:{{Sltin}}</h3>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="font col-lg-4">Mã nhà cung cấp:</div>
            <div class="font col-lg-4">{{Mancc}}</div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="font col-lg-4">Tên nhà cung cấp:</div>
            <div class="font col-lg-4">{{Tenncc}}</div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="font col-lg-4">Tên shop:</div>
            <div class="font col-lg-4">{{Ten}}</div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="font col-lg-4">Giới thiệu:</div>
            <div class="font col-lg-4">{{Gt}}</div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="font col-lg-4">Email :</div>
            <div class="font col-lg-4">{{Email}}</div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="font col-lg-4">Số điện thoại:</div>
            <div class="font col-lg-4">{{Sdt}}</div>
            <div class="col-lg-2"></div>
        </div>
        @*<div class="row">
            <div class="col-lg-2"></div>
            <div class="font col-lg-4">Mật khẩu: </div>
            <div class="font col-lg-4">{{mk}}</div>
            <div class="col-lg-2"></div>
        </div>*@
    </div>
</script>
<div id="new-Product"></div>
<hr />
<div>
    <h2 style="text-align:center; color:red; font-weight:bold">THÔNG TIN HÓA ĐƠN MUA TIN</h2>
</div>
<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Mã hóa đơn</th>
                <th>Gói giá tin</th>
                <th>Thời gian</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody id="new-Product1"></tbody>
    </table>
</div>
<script id="table-template1" type="x-tmpl-mustache">
    <tr>
        <td>
            {{Mahd}}
        </td>
        <td>
            {{Goigiatin}}
        </td>
        <td>
            {{Thoigian}}
        </td>
        @*<td>
            {{Trangthai}}
        </td>*@
    </tr>
</script>

